//struttura corretta di scss files    .header =classe principale quando chiamo & è come chiamare .header

// .header__nav == &__nav

.header {
  &__nav { // 
    display: flex;
    overflow: hidden;

    @media screen and (max-width: 900px) {
      background: var(--primary-color);
    }
  }

  &__logo {
    flex: 1;
    display: flex;
    position: relative;
    padding: 2rem;
  }

  &__logo-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: -1;
  }

  &__logo h4 {
    padding-left: 3rem;
    font-weight: 700;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-family: var(--playfair-display);
    color: #fff;
    opacity: 0.8;

    @media screen and (max-width: 550px) {
      padding-left: 0;
    }
  }

  &__menu-global {
    padding: 2rem;
    flex: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6.4rem;
    list-style: none;
  }

  &__menu {
    @extend .header__menu-global;
    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__menu-mobile {
    @extend .header__menu-global;
    @media screen and (max-width: 900px) {
      display: flex;
    }
  }

  &__menu li {
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 2rem;
    cursor: pointer;
  }

  &__menu li img {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
  }

  &__menu-mobile {
    display: none;
    gap: 2.4rem;
    position: relative;
  }
}
