//targetta homepage e aggiunge stili
.homepage {
  font-size: 1.5rem;

  //targetta titpolo sotto homepage e aggiunge stili
  &__title {
    font-weight: bold;
  }
  
  &__subtitle {
    font-size: 40px;
  }
}