$font-family-base: "Plus Jakarta Sans", sans-serif;

$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

* {
  font-weight: $font-weight-light;
  font-family: $font-family-base;
}

/* light */
@font-face {
  font-family: $font-family-base;
  font-weight: $font-weight-light;
  src: url('../assets/fonts/PlusJakartaSans/PlusJakartaSans-Light.ttf');
  src: url('../assets/fonts/PlusJakartaSans/PlusJakartaSans-Light.ttf') format('truetype');
}